@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&family=Noto+Sans+JP:wght@500&family=Sora&display=swap");
* {
  padding: 0;
  margin: 0;
}

/*imports*/
/*variables*/
body {
  background-color: whitesmoke;
}

h1 {
  font-family: "Noto Sans JP", sans-serif;
}

input,
h4 {
  color: #5e960a;
  font-family: "Sora", sans-serif;
}

h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
}

div {
  margin-bottom: 2rem;
}

p,
li {
  margin: 4px;
}

.block-grey {
  min-width: 25px;
  min-height: 50px;
  background-color: #576147;
  margin: 0.2rem 0.8rem 0 0;
}

.block {
  min-width: 25px;
  min-height: 50px;
  background-color: #5d9509;
  margin: 0.2rem 0.8rem 0 0;
}

.projectShell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

a {
  color: black;
  text-decoration: none;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  border-bottom: 5px #5d9509 solid;
  margin-top: 2rem;
}

.name {
  -webkit-box-flex: 5;
      -ms-flex: 5 1 30rem;
          flex: 5 1 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 20rem;
          flex: 3 1 20rem;
}

.image img {
  max-width: 150px;
  max-height: 150px;
  border: 4px #5d9509 solid;
  border-radius: 50%;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 20rem;
          flex: 3 1 20rem;
}

.contact ul {
  list-style: none;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content .projects {
  -webkit-box-flex: 6;
      -ms-flex: 6 1 20rem;
          flex: 6 1 20rem;
  padding-right: 4rem;
}

.content .projects ul {
  margin-left: 2rem;
  list-style: none;
  /* Remove default bullets */
}

.content .projects ul li::before {
  content: "\2023";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #5e960a;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1.2em;
  /* Also needed for space (tweak if needed) */
  font-size: 1.5rem;
}

.content .others {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 20rem;
          flex: 2 1 20rem;
}

.content .others input {
  background-color: #5d9509;
  padding: 0.4rem 0.5rem;
  margin: 0.2rem;
  color: white;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */