* {
  padding: 0;
  margin: 0;
}

/*imports*/
@import "_allmixins.scss";

/*variables*/
$green: rgb(93, 149, 9);
$grey: rgb(87, 97, 71);

body {
  width: 90%;
  margin: auto;
  background-color: whitesmoke;
}
a {
  color: black;
  text-decoration: none;
}
.head {
  @include flex(row, space-between, center);
  min-height: 10vh;
  border-bottom: 5px $green solid;
}
.name {
  flex: 5 1 35rem;
}

.image {
  @include flex(column, center, center);
  flex: 3 1 20rem;
  img {
    max-width: 120px;
    max-height: 120px;
    border: 2px $green solid;
    border-radius: 50%;
  }
}
.contact {
  @include flex(column, center, flex-end);
  flex: 3 1 20rem;
  ul {
    list-style: none;
  }
}
.content {
  @include flex(row, center, center);
  .projects {
    flex: 6 1 20rem;
    ul {
      margin-left: 2rem;
      list-style-type: square;
    }
  }
  .others {
    flex: 2 1 20rem;
  }
}
